/application/session/*
/assets/upload/images/**/*.jpg
/assets/upload/images/**/*.jpeg
/assets/upload/images/**/*.png
/assets/upload/images/**/**/*.jpg
/assets/upload/images/**/**/*.jpeg
/assets/upload/images/**/**/*.png
catatatan
/application/config/config.php
