/application/session/*
/assets/upload/images/berita/*.*
/assets/upload/images/berita/thumb/*.*
/assets/upload/images/trophy/*.*
/assets/upload/images/trophy/thumb/*.*
/assets/upload/images/media/*.*
/assets/upload/images/media/thumb/*.*
/assets/upload/images/pengurus/*.*
/assets/upload/images/pengurus/thumb/*.*
/assets/upload/images/pemain/*.*
/assets/upload/images/pemain/thumb/*.*