/application/session/*
/assets/upload/images/**/*.jpg
/assets/upload/images/**/*.jpeg
/assets/upload/images/**/*.png
/assets/upload/images/**/**/*.jpg
/assets/upload/images/**/**/*.jpeg
/assets/upload/images/**/**/*.png
/assets/admin_foto/*.png
/assets/admin_foto/*.jpg
/assets/admin_foto/*.jpeg
/assets/admin_foto/thumb/*.png
/assets/admin_foto/thumb/*.jpg
/assets/admin_foto/thumb/*.jpeg
/application/config/config.php
catatatan
