.btn {
    border-radius: 0px;
}

.form .row {
    margin-top: 15px;
}

.skin-black .sidebar-menu .treeview-menu .fa.fa-angle-right {
    padding-left: 3px;
}

.skin-black .wrapper, 
.skin-black .main-sidebar, 
.skin-black .left-side {
    background-color: #f2f2f2;
}

.skin-black .sidebar a {
    color: #444;
    font-size: 14px
}

.skin-black .sidebar ul li a {
    border-left: 0px;
}

.skin-black .sidebar ul li:hover > a,
.skin-black .sidebar ul li:focus > a,
.skin-black .sidebar ul li.active > a {
    background-color: #e0e0e0;
    color: #444;
}

.skin-black .sidebar-menu>li>.treeview-menu {
    margin: 0;
    background: #e0e0e0 !important;
    padding-left: 0px;
    border-top: 1px solid #d9d9d9;
}

.skin-black .sidebar-menu>li>.treeview-menu li a {
    color: #444;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 10px 10px 15px;
}

.skin-black .sidebar-menu>li>.treeview-menu li:hover a,
.skin-black .sidebar-menu>li>.treeview-menu li:focus a,
.skin-black .sidebar-menu>li>.treeview-menu li.active a {
    background-color: #d9d9d9;
}

.content-wrapper, .right-side {
    background-color: #fff;
}

.skin-black > .wrapper > .content-wrapper > .content-header {
    padding: 15px;
}

.skin-black > .wrapper > .content-wrapper > .content-header.aksi {
    background-color: #f5f5f5;
    padding: 0px;
    text-align: right;
}

.skin-black > .wrapper > .content-wrapper > .content-header.aksi a {
    display: inline-block;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    border-left: 1px solid #e2e2e2;
}

.skin-black > .wrapper > .content-wrapper > .content-header.aksi a:hover,
.skin-black > .wrapper > .content-wrapper > .content-header.aksi a:active {
    background-color: #e2e2e2;
}

.pencarian .box-header {
    padding: 15px;
    cursor: pointer;
}

.pencarian .box-header .box-title {
    font-size: 14px;
}

.pencarian .box-header .box-title a {
    color: #444;
}

.pencarian .panel-collapse {
    padding-left: 5px;
    padding-right: 5px;
}

.pencarian .box-footer {
    border: 0px;
}

.pencarian .panel {
    border-radius: 0px;
}

.skin-black label.control-label {
    font-size: 14px !important;
    font-weight: normal;
}

.dataTables_wrapper .table-responsive table tr th,
.dataTables_wrapper .table-responsive table tr td {
    font-size: 14px;
}

.dataTables_wrapper .table-responsive table tr td {
    padding: 0px 8px;
}

.dataTables_wrapper .table-responsive table tbody tr td button {
    border-radius: 0px;
    padding: 10px 15px;
    border: 1px solid #eee;
}

.dataTables_wrapper .table-responsive .open>ul.dropdown-menu {
    display: inline-flex !important;
    position: absolute;
    top: 0;
    left: 42px;
    border-radius: 0px;
}

.dataTables_wrapper .table-responsive .dropdown-menu>li {
    display: inline-block;
    float:left;
    border-right: 1px solid #F4F4F4;
    border-top: 1px solid #F4F4F4;
    border-bottom: 1px solid #F4F4F4;
}

.dataTables_wrapper .table-responsive .open > .dropdown-toggle.btn-default {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #e0dede;
    margin-top: 1px;
}

.dataTables_wrapper .dropdown-menu {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.dataTables_wrapper .dropdown-menu {
     min-width: inherit;
}

.dataTables_wrapper .dropdown-menu i {
    width: 15px;
}

.dataTables_wrapper ul.dropdown-menu li a:hover {
    background-color: #f5f5f5;
}

.dataTables_wrapper ul.dropdown-menu > li > a {
    padding: 10px 15px !important;
    font-size: 14px !important;
    background-color: #fff;
    color: #777
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
        margin-left: 0px;
    }
}